
.fuelquote {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
  
    &__container {
      border-radius: 15px;
      width: 70%;
      margin: auto;
      color: black;
      text-align: left;
      border: black solid .5px;
      background-color: whitesmoke;
      border: 1px solid black;
    }
  }
  .title {
    padding-top: 10px;
    padding-left: 50px;
  }
  .in {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
  .address {
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .add {
    width: 40%;
  }
  .city {
    width: 30%;
  }
  .state {
    width: 10%;
  }
  .zip {
    width: 10%;
  }

  .button {
    padding-top: 10px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .button2 {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    justify-content: left;
  }
  .changeAddress {
    width: 100%;
    color: #fff;
    background-color: rgb(136, 7, 7);
    margin-bottom: 15px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 30px;
    transition: all 0.3s;
  }
  .changeAddress:hover {
    background: #fff;
    color: rgb(224, 9, 9);
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
  }
  .calculate {
    width: 100%;
    color: #fff;
    background-color: rgb(224, 9, 9);
    margin-bottom: 15px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 30px;
    transition: all 0.3s;
  }
  .calculate:hover:enabled {
    background: #fff;
    color: rgb(224, 9, 9);
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
  }
  .calculate:disabled {
    background-color: gray;
  }
