nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: gray;
    color: white;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.nav-item:hover {
    text-decoration: none;
    color: blue;
}

.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.signout{
    background:none;
    border:none;
    margin:0;
    padding:0;
    color: white;
    font-family: sans-serif;
}

.signout:hover{
    color:blue;
}